@import "tailwindcss";
@plugin "daisyui";

@font-face {
  font-family: "MyFont";
  src: url("./assets/fonts/Inter_18pt-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "MyFont", sans-serif;
  background-color: #f6f7f9;
}

.main-container {
  width: 95%;
  margin: 0 auto;
}

.page-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
